<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto|Grenze Gotisch|Sansita Swashed"
    />
    <title>Natural Language Processing</title>
  </head>

  <body>
    <main class="app">
      <div class="title">Natural Language Processing</div>
      <section class="formContainer">
        <button id="myBtn">NEW NLP</button>
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <span class="close">&times;</span>
              <h2>NLP FORM</h2>
            </div>
            <div class="modal-body">
              <form class="form" id="form">
                <input
                  id="title"
                  type="text"
                  name="title"
                  value=""
                  placeholder="Title"
                  required
                />
                <textarea
                  id="txt"
                  name="txt"
                  placeholder="Put your text here..."
                  rows="10"
                  required
                ></textarea>
                <input
                  type="submit"
                  id="analysis"
                  name=""
                  value="start analysis"
                />
              </form>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="label">NLP Results</div>
        <div id="results" class="results">
          <table id="history" class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Polarite</th>
                <th>Subjectivity</th>
                <th>Confidence</th>
              </tr>
            </thead>
            <tbody id="tbody">
              <tr>
                <td colspan="5">there is no available data</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </body>
</html>
