%button-shared {
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 60%;
  margin: 1px 5px;
}
.view {
  @extend %button-shared;
  background-color: green;
  background-image: url("../assets/images/eye-solid.png");
}
.delete {
  @extend %button-shared;
  background-color: red;
  background-image: url("../assets/images/trash-alt-solid.png");
}
#trips {
  min-width: 80vw;
  max-width: 95vw;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: rgba($color: white, $alpha: 0.7);
  tr{
    &:nth-child(even){
      background-color: rgba($color: white, $alpha: 0.7);
    }
    &:hover{
      background-color: rgba($color: white, $alpha: 1);
    }
  }
  td,th{
    border: 1px solid #ddd;
    padding: 8px;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba($color: blue, $alpha: 0.8);
    color: white;
  }
}
